<section class="about-us text-white pt-5 pb-5 shadow-all">
    <div class="section-width">
        <div class="row h-100">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                <!--<img class="about-us-img" src="/img/about.png" alt="">-->
                <div class="about-progress shadow-small">
                    <h3>My skills</h3>
                    <span>CRM Wordpress</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                    </div>
                    <span>HTML, CSS</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                    </div>
                    <span>Javascript</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>
                    <span>Bootstrap</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                    </div>
                    <span>Angular</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                    <span>Firebase</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                    <span>NodeJS Express</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>
                    <span>Adobe Photoshop</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                    </div>
                    <span>Adobe Illustrator</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                </div>
            </div>
            <!--/col-md-6-->
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 d-flex align-items-center flex-wrap">
                <div class="about-us-text">
                    <h2 class="text-center" id="about-us">Про мене</h2>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur in molestiae tempora? Accusamus esse in incidunt sunt! Alias ea inventore laudantium quo vitae. A cumque incidunt modi. Cumque, repudiandae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quos reprehenderit ullam? Adipisci aliquid beatae consequuntur delectus deserunt eaque fuga hic iure labore minima mollitia provident, quis quisquam reiciendis sit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum eum ipsam magnam nulla sint voluptate? Consectetur consequatur corporis culpa eos fugit iure neque omnis praesentium quasi reprehenderit similique, velit!</p>
                    <div class="row flex-row-column">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <span>Ім'я</span><br>
                            <p>Михайло Москалу</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <span>E-mail</span><br>
                            <a href="mailto:mmoskalu@gmail.com">mmoskalu@gmail.com</a>
                        </div>
                    </div>
                    <!--/row-->
                    <div class="row flex-row-column">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <span>Телефон</span><br>
                            <p>+380995602056</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <span>GitHub</span><br>
                            <a href="https://github.com/mmoscalu" target="_blank">https://github.com/mmoscalu</a>
                        </div>
                    </div>
                    <!--/row-->
                    <hr>
                    <div class="d-flex flex-wrap justify-content-around">
                        <a href="#contacts" class="btn btn-outline-info btn-about-us shadow-small">Відправити повідомлення</a>
                        <a href="/img/Moscalu_Mihail_Front_End_cv.pdf" class="btn btn-outline-info btn-about-us shadow-small">Завантажити CV</a>
                    </div>

                </div>
                <!--/about-us-text-->
            </div>
            <!--/col-md-6-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</section>