<section class="about-us text-white px-3">
    <div class="row h-100">
        <div class="col-md-6 align-items-center">
            <img class="about-us-img" src="/img/about.png" alt="">
            <div class="about-progress">
                <h3>My skills</h3>
                <span>CRM Wordpress</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <span>HTML, CSS</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <span>Javascript</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                </div>
                <span>Bootstrap</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <span>Angular</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
                <span>Firebase</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
                <span>NodeJS Express</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                </div>
                <span>Adobe Photoshop</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <span>Adobe Illustrator</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
            </div>
        </div>
        <!--/col-md-6-->
        <div class="col-md-6 d-flex align-items-center">
            <div class="about-us-text">
                <h2 class="text-center" id="about-us">Про мене</h2>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur in molestiae tempora? Accusamus esse in incidunt sunt! Alias ea inventore laudantium quo vitae. A cumque incidunt modi. Cumque, repudiandae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quos reprehenderit ullam? Adipisci aliquid beatae consequuntur delectus deserunt eaque fuga hic iure labore minima mollitia provident, quis quisquam reiciendis sit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum eum ipsam magnam nulla sint voluptate? Consectetur consequatur corporis culpa eos fugit iure neque omnis praesentium quasi reprehenderit similique, velit!</p>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Ім'я</h5>
                        <span>Михайло Москалу</span>
                    </div>
                    <div class="col-md-6">
                        <h5>E-mail</h5>
                        <span>mmoskalu@gmail.com</span>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <h5>Телефон</h5>
                        <span>+380995602056</span>
                    </div>
                    <div class="col-md-6">
                        <h5>Facebook</h5>
                        <span>https://www.facebook.com/mmoskalu</span>
                    </div>
                </div>
                <!--/row-->
                <hr>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-outline-info">Відправити повідомлення</button>
                    <button class="btn btn-outline-info">Завантажити CV</button>
                </div>

            </div>
            <!--/about-us-text-->
        </div>
        <!--/col-md-6-->
    </div>
    <!--/row-->
</section>