<section class="footer mt-5 text-white">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-4">
                <span>&copy; 2018 - mmoscalu. All Rights Reserved.</span>
            </div>
        </div>
    </div>
</section>