<footer class="footer shadow-all pt-5 text-white text-center">
    <div class="section-width">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <span>&copy; 2018 - WebCode-Design <br>All Rights Reserved</span>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <nav class="menu-footer" id="menu-footer">
                    <a class="nav-footer" href="#about-us">Про мене</a>
                    <a class="nav-footer" href="#services">Послуги</a>
                    <a class="nav-footer" href="#portfolio">Портфоліо</a>
                    <a class="nav-footer" href="#contacts">Контакти</a>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="social-wrap text-center">
                    <h6>Зв'язатись зі мною</h6>
                    <a title="E-mail" class="mail" href="mailto:mmoskalu@gmail.com">
                        <i class="fas fa-envelope social-icon"></i>
                    </a>
                    <a title="Facebook" class="facebook" href="https://www.facebook.com/mmoskalu" target="_blank">
                        <i class="fab fa-facebook-f social-icon"></i>
                    </a>
                    <a title="Skype" class="skype" href="skype:m.moscalu?call">
                        <i class="fab fa-skype social-icon"></i>
                    </a>
                    <a title="Phone" class="phone" href="callto:+380995602056">
                        <i class="fas fa-phone social-icon"></i>
                    </a>
                    <a title="Messenger" class="messenger" href="https://m.me/mmoskalu" target="_blank">
                        <i class="fab fa-facebook-messenger social-icon"></i>
                    </a>
                    <a title="Viber" class="viber" href="viber://chat?number=+380995602056">
                        <i class="fab fa-viber social-icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <button onclick="topFunction()" id="topBtn" title="Go to top" class="btn btn-info">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
</footer>

