<section class="inner parallax-window d-flex align-items-center" data-parallax="scroll" data-image-src="/img/inner_v2.jpg">
    <div class="section-width">
        <div class="row d-flex flex-wrap justify-content-between align-items-center text-center">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="inner-content">
                    <div class="social">
                        <a title="E-mail" class="mail" href="mailto:mmoskalu@gmail.com">
                            <i class="fas fa-envelope social-icon"></i>
                        </a>
                        <a title="Facebook" class="facebook" href="https://www.facebook.com/mmoskalu" target="_blank">
                            <i class="fab fa-facebook-f social-icon"></i>
                        </a>
                        <a title="Skype" class="skype" href="skype:m.moscalu?call">
                            <i class="fab fa-skype social-icon"></i>
                        </a>
                        <a title="Phone" class="phone" href="callto:+380995602056">
                            <i class="fas fa-phone social-icon"></i>
                        </a>
                        <a title="Messenger" class="messenger" href="https://m.me/mmoskalu" target="_blank">
                            <i class="fab fa-facebook-messenger social-icon"></i>
                        </a>
                        <a title="Viber" class="viber" href="viber://chat?number=+380995602056">
                            <i class="fab fa-viber social-icon"></i>
                        </a>
                    </div>
                    <!--/social-->
                    <div class="inner-text text-white">
                        <h2>I am Web Designer</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, nihil voluptatem. Architecto assumenda consequuntur dicta dolorem dolores eius fugiat, iste libero modi non, perferendis possimus quas reprehenderit tempore ullam voluptatem!</p>
                    </div>
                    <!--/inner-text-->
                    <div class="d-flex flex-wrap justify-content-around">
                        <a href="#portfolio" class="btn btn-info">Мої роботи</a>
                        <a href="#contacts" class="btn btn-info">Запропонувати роботу</a>
                    </div>
                </div>
                <!--/inner-content-->
            </div>
            <!--/col-md-6-->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                <img src="/img/photo_cv.png" alt="">
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</section>