<section class="inner">
    <div class="row h-100">
        <div class="col-md-6 d-flex align-items-center">
            <div class="inner-content">
                <div class="social">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-skype"></i>
                    <i class="fas fa-phone"></i>
                    <i class="fab fa-facebook-messenger"></i>
                    <i class="fab fa-viber"></i>
                </div>
                <!--/social-->
                <div class="inner-text">
                    <h2>I am Web Designer</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, nihil voluptatem. Architecto assumenda consequuntur dicta dolorem dolores eius fugiat, iste libero modi non, perferendis possimus quas reprehenderit tempore ullam voluptatem!</p>
                </div>
                <!--/inner-text-->
                <div class="d-flex justify-content-around">
                    <button class="btn btn-outline-info">Мої роботи</button>
                    <button class="btn btn-outline-info">Запропонувати роботу</button>
                </div>
            </div>
            <!--/inner-content-->
        </div>
        <!--/col-md-6-->
    </div>
    <!--/row-->
</section>