<section class="inner parallax-window d-flex align-items-center" data-parallax="scroll" data-image-src="/img/inner_v2.jpg">
    <div class="container">
        <div class="row d-flex align-items-center text-center">
            <div class="col-md-6">
                <div class="inner-content">
                    <div class="social">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-skype"></i>
                        <i class="fas fa-phone"></i>
                        <i class="fab fa-facebook-messenger"></i>
                        <i class="fab fa-viber"></i>
                    </div>
                    <!--/social-->
                    <div class="inner-text text-white">
                        <h2>I am Web Designer</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, nihil voluptatem. Architecto assumenda consequuntur dicta dolorem dolores eius fugiat, iste libero modi non, perferendis possimus quas reprehenderit tempore ullam voluptatem!</p>
                    </div>
                    <!--/inner-text-->
                    <div class="d-flex flex-wrap justify-content-around">
                        <a href="#portfolio" class="btn btn-info">Мої роботи</a>
                        <a href="#contacts" class="btn btn-info">Запропонувати роботу</a>
                    </div>
                </div>
                <!--/inner-content-->
            </div>
            <!--/col-md-6-->
            <div class="col-md-6">
                <img src="/img/photo_cv.png" class="w-70" alt="">
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</section>