<section class="portfolio text-white pt-5 pb-5">
    <h2 id="portfolio" class="text-center">Портфоліо</h2>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4">
                <div class="portfolio-item">
                    <a href="https://global-ukraine.com/" target="_blank">
                        <img class="img-thumbnail" src="/img/gu.png" alt="">
                        <p class="text-justify mt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur enim, ex facilis fugiat illum in ipsam maiores nihil officiis perspiciatis, quia reiciendis rem sed suscipit temporibus ut veniam voluptate.</p>
                        <h4 class="text-center">Портал Global Ukraine</h4>
                    </a>
                </div>
                <!--/portfolio-item-->
            </div>
            <!--/col-md-4-->
            <div class="col-md-4">
                <div class="portfolio-item">
                    <a href="http://club.global-ukraine.com" target="_blank">
                        <img class="img-thumbnail" src="/img/club.png" alt="">
                        <p class="text-justify mt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur enim, ex facilis fugiat illum in ipsam maiores nihil officiis perspiciatis, quia reiciendis rem sed suscipit temporibus ut veniam voluptate.</p>
                        <h4 class="text-center">Платформа #MyGlobalUkrainians</h4>
                    </a>
                </div>
                <!--/portfolio-item-->
            </div>
            <!--/col-md-4-->
            <div class="col-md-4">
                <div class="portfolio-item">
                    <a href="http://cross-shop.org.ua/" target="_blank">
                        <img class="img-thumbnail" src="/img/cross.png" alt="">
                        <p class="text-justify mt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur enim, ex facilis fugiat illum in ipsam maiores nihil officiis perspiciatis, quia reiciendis rem sed suscipit temporibus ut veniam voluptate.</p>
                        <h4 class="text-center">Інтернет магазин Cross-Shop</h4>
                    </a>
                </div>
                <!--/portfolio-item-->
            </div>
            <!--/col-md-4-->
        </div>
        <!--/row-->
        <div class="row">
            <div class="col-md-4">
                <div class="portfolio-item">
                    <a href="http://demkura.com/" target="_blank">
                        <img class="img-thumbnail" src="/img/demkura.png" alt="">
                        <p class="text-justify mt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur enim, ex facilis fugiat illum in ipsam maiores nihil officiis perspiciatis, quia reiciendis rem sed suscipit temporibus ut veniam voluptate.</p>
                        <h4 class="text-center">Сайт Тараса Демкури</h4>
                    </a>
                </div>
                <!--/portfolio-item-->
            </div>
            <!--/col-md-4-->
            <div class="col-md-4">
                <div class="portfolio-item">
                    <a href="http://work.myukraine.net.ua/platform" target="_blank">
                        <img class="img-thumbnail" src="/img/myukraine.png" alt="">
                        <p class="text-justify mt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur enim, ex facilis fugiat illum in ipsam maiores nihil officiis perspiciatis, quia reiciendis rem sed suscipit temporibus ut veniam voluptate.</p>
                        <h4 class="text-center">Платформа #MyUkraine</h4>
                    </a>
                </div>
                <!--/portfolio-item-->
            </div>
            <!--/col-md-4-->
            <div class="col-md-4">
                <div class="portfolio-item">
                    <a href="https://global-ukraine.com/business-hub/" target="_blank">
                        <img class="img-thumbnail" src="/img/hub.png" alt="">
                        <p class="text-justify mt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur enim, ex facilis fugiat illum in ipsam maiores nihil officiis perspiciatis, quia reiciendis rem sed suscipit temporibus ut veniam voluptate.</p>
                        <h4 class="text-center">Global Ukraine Business Hub</h4>
                    </a>
                </div>
                <!--/portfolio-item-->
            </div>
            <!--/col-md-4-->
        </div>
    </div>
    <!--/container-->
</section>