<section class="services text-center text-white mt-5 mb-5">
    <h2 id="services" class="text-dark">Послуги</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="services-item">
                    <i class="fas fa-desktop"></i>
                    <h4>UI/UX Design</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <!--/services-item-->
            </div>
            <!--/col-md-4-->
            <div class="col-md-4">
                <div class="services-item">
                    <i class="fas fa-mobile-alt"></i>
                    <h4>App Design</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <!--/services-item-->
            </div>
            <!--/col-md-4-->
            <div class="col-md-4">
                <div class="services-item">
                    <i class="fas fa-pencil-alt"></i>
                    <h4>Logo Design</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <!--/services-item-->
            </div>
            <!--/col-md-4-->
        </div>
        <!--/row-->
        <div class="row">
            <div class="col-md-4">
                <div class="services-item">
                    <i class="fas fa-laptop-code"></i>
                    <h4>Web Design</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <!--/services-item-->
            </div>
            <!--/col-md-4-->
            <div class="col-md-4">
                <div class="services-item">
                    <i class="fas fa-edit"></i>
                    <h4>Graphic Design</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <!--/services-item-->
            </div>
            <!--/col-md-4-->
            <div class="col-md-4">
                <div class="services-item">
                    <i class="fas fa-code"></i>
                    <h4>Development</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <!--/services-item-->
            </div>
            <!--/col-md-4-->
        </div>
        <!--row-->
    </div>
    <!--/container-->
</section>