 <header class="shadow-all">
        <!--<div class="container-fluid">-->
            <div class="header-wrap" id="#top">
                <nav class="d-flex justify-content-around align-items-center">
                    <a href="/">Moscalu Mihail</a>
                    <div class="menu-wrap">
                        <div class="menu-nav" id="menu-id">
                            <a class="nav-item" href="#about-us">Про мене</a>
                            <a class="nav-item" href="#services">Послуги</a>
                            <a class="nav-item" href="#portfolio">Портфоліо</a>
                            <a class="nav-item" href="#contacts">Контакти</a>
                        </div>
                        <a href="#" class="menu-btn" id="menu-btn-id">
                            <span></span>
                        </a>
                    </div>
                </nav>
            </div>
        <!--</div>-->
 </header>
