
/* ===== Custom Start ===== */
*, *:before, *:after {
    box-sizing: border-box;
}
 a, a:hover {
     text-decoration: none !important;
 }
 .parallax-window {
     min-height: 500px;
     background: transparent;
 }
 /* ===== Custom End ===== */
 /* ===== Menu Start ===== */
header  {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 99;
    background: #000;
}
.menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    position: relative;
    box-shadow: 3px 4px 25px 1px rgba(0,0,0,0.4);
    z-index: 999;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
}
.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
}
.menu-btn span::before {
    transform: translateY(-5px);
}
.menu-btn span::after {
    transform: translateY(5px);
}
.menu-btn-active span {
    height: 0;
}
.menu-btn-active span:before {
    transform: rotate(-45deg);
}
.menu-btn-active span:after {
    transform: rotate(45deg);
}
.menu-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-nav a {
    color: #000;
    /*font-weight: 100;*/
    display: inline-block;
    margin-right: 20px;
    transition: 0.2s;
}
.menu-nav {
    transition: 0.2s;
    transform: scaleX(0) translateX(0%);
    transform-origin: right center;
    opacity: 0;
    visibility: hidden;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: -25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 999;
}
.menu-nav-active {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
    visibility: visible;
    box-shadow: 3px 4px 25px 1px rgba(0,0,0,0.4);
}
/* ===== Menu End ===== */
 /* ===== Inner Start ===== */
.inner {
    padding-top: 70px;
}
.inner img {
    max-width: 100%;
}
 .social i {
     cursor: pointer;
 }
 .social a + a {
     margin-left: 7px;
 }
 .social a {
     font-size: 20px;
 }
 /* ===== Inner End ===== */
 /* ===== About-Us Start ===== */
 .about-us {
     background-image: url("/img/portfolio_bg_v1.jpg");
 }
 .about-progress {
     border: 1px solid #f5f5f5;
     padding: 10px;
     background-color: rgba(0,0,0,.4);
 }
 /* ===== About-Us End ===== */
 /* ===== Services Start ===== */

.services-item {
    border: 1px solid #f5f5f5;
    background-color: rgba(0,0,0,.5);
    padding: 15px;
    box-shadow: 3px 6px 15px 2px rgba(0,0,0,.3);
    transition: all ease .5s;
    height: 100%;
}
@keyframes services-item
{
    15%
    {
        transform: translateX(5px);
    }
    30%
    {
        transform: translateX(-5px);
    }
    50%
    {
        transform: translateX(3px);
    }
    65%
    {
        transform: translateX(-3px);
    }
    80%
    {
        transform: translateX(2px);
    }
    100%
    {
        transform: translateX(0);
    }
}
.services-item:hover
{
    animation: services-item 1s ease;
    animation-iteration-count: 1;
}
 .services .row + .row {
     margin-top: 15px;
 }
 .services-item i {
     font-size: 25px;
 }
 /* ===== Services End ===== */
 /* ===== Portfolio Start ===== */
 .portfolio {
     background-image: url("/img/portfolio_bg_v1.jpg");
 }
 .portfolio .row + .row {
     margin-top: 15px;
 }
 .portfolio-wrap {
     border: 10px solid #fff;
     padding: 5px;
     perspective: 900px;
     height: 100%;
 }
.portfolio-wrap:hover {
    box-shadow: inset 5px 5px 20px 2px rgba(255,255,255, 0.3);
}
 .portfolio-wrap:hover .portfolio-item {
     transform: translateX(10px) translateZ(-20px) rotateY(-20deg);
     transform-origin: right;
 }
 .portfolio-item {
     border: 2px solid #f5f5f5;
     padding: 5px;
     box-shadow: 3px 6px 15px 2px rgba(255,255,255, 0.3);
     transition: all ease .5s;
     height: 100%;
 }
.portfolio-item .img-thumbnail {
    filter: grayscale(70%);
}
.portfolio-item:hover .img-thumbnail {
    filter: grayscale(0%);
}
 .portfolio-item a {
     color: #fff;
 }
 .portfolio-item a:hover {
     color: #fff;
 }
 /* ===== Portfolio End ===== */
 /* ===== Contacts Start ===== */
.contacts-item {
    border: 1px solid #f5f5f5;
    background-color: rgba(0,0,0,.5);
    padding: 15px;
    box-shadow: 3px 6px 15px 2px rgba(0,0,0,.3);
    color: #fff;
    height: 100%;
}
@keyframes contacts-item
{
    15%
    {
        transform: translateX(5px);
    }
    30%
    {
        transform: translateX(-5px);
    }
    50%
    {
        transform: translateX(3px);
    }
    65%
    {
        transform: translateX(-3px);
    }
    80%
    {
        transform: translateX(2px);
    }
    100%
    {
        transform: translateX(0);
    }
}
.contacts-item:hover
{
    animation: contacts-item 1s ease;
    animation-iteration-count: 1;
}
.contacts-item a {
    color: #fff;
}
.contacts-item i {
    font-size: 25px;
}
 /* ===== Contacts End ===== */
 /* ===== Footer Start ===== */
.footer {
    background-color: black;
    height: 200px;
}
.footer .menu-footer a + a {
    margin-left: 10px;
}
.footer .nav-footer {
    color: #fff;
}
.footer .social-wrap i {
    font-size: 25px;
    cursor: pointer;
}
/* Social Icon (inner&footer) */
.social-icon {
    transition:all 0.5s ease;
}
@keyframes social-icon
{
    15%
    {
        transform: translateX(2px);
    }
    30%
    {
        transform: translateX(-2px);
    }
    50%
    {
        transform: translateX(1px);
    }
    65%
    {
        transform: translateX(-1px);
    }
    80%
    {
        transform: translateX(2px);
    }
    100%
    {
        transform: translateX(0);
    }
}
.social-icon:hover
{
    animation: social-icon 1s ease;
    animation-iteration-count: 1;
}
.footer .social-wrap a + a {
    margin-left: 10px;
}
.footer .mail, .social .mail {
    color: #ff4343;
}
.footer .mail:hover, .social .mail:hover {
    color: #ff5d5d;
    transform: rotateZ(-30deg);
}
.footer .facebook, .social .facebook {
    color: #3b5998;
}
.footer .facebook:hover, .social .facebook:hover {
    color: #8b9dc3;
}
.footer .skype, .social .skype {
    color: #00aff0;
}
.footer .skype:hover, .social .skype:hover {
    color: #c7edfc;
}
.footer .messenger, .social .messenger {
    color: #0084ff;
}
.footer .messenger:hover, .social .messenger:hover {
    color: #44bec7;
}
.footer .viber, .social .viber {
    color: #59267c;
}
.footer .viber:hover, .social .viber:hover {
    color: #e2d4e7;
}
.footer .phone, .social .phone {
    color: #495fa1;
}
.footer .phone:hover, .social .phone:hover {
    color: #838bb0;
}
.footer-arrow {
    position: absolute;
    right: 5%;
}
 /* ===== Footer End ===== */
/* ===== Media Start ===== */
@media (max-width: 767px) {
    .menu-nav {
        display: flex;
        flex-direction: column;
    }
    .menu-nav a {
        background-color: #fff;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 50px;
    }
    .menu-nav {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: -25px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}
/* ===== Media End ===== */