
/* ===== Custom Start ===== */
*, *:before, *:after {
    box-sizing: border-box;
}
 a, a:hover {
     text-decoration: none !important;
 }
 .parallax-window {
     min-height: 500px;
     background: transparent;
 }
 /* ===== Custom End ===== */
 /* ===== Menu Start ===== */
header  {
    /*position: fixed;*/
    width: 100%;
    padding: 10px 0;
    z-index: 99;
    background: #000;
}
.menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    position: relative;
    box-shadow: 3px 4px 25px 1px rgba(0,0,0,0.4);
    z-index: 999;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
}
.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
}
.menu-btn span::before {
    transform: translateY(-5px);
}
.menu-btn span::after {
    transform: translateY(5px);
}
.menu-btn-active span {
    height: 0;
}
.menu-btn-active span:before {
    transform: rotate(-45deg);
}
.menu-btn-active span:after {
    transform: rotate(45deg);
}
.menu-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-nav a {
    color: #000;
    /*font-weight: 100;*/
    display: inline-block;
    margin-right: 20px;
    transition: 1s;
}
.menu-nav {
    transition: 0.2s;
    transform: scaleX(0) translateX(0%);
    transform-origin: right center;
    opacity: 0;
    visibility: hidden;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: -25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 999;
}
.menu-nav-active {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
    visibility: visible;
    box-shadow: 3px 4px 25px 1px rgba(0,0,0,0.4);
}
/* ===== Menu End ===== */
 /* ===== Inner Start ===== */
 .social i {
     cursor: pointer;
 }
 .social i + i {
     margin-left: 7px;
 }
 /* ===== Inner End ===== */
 /* ===== About-Us Start ===== */
 .about-us {
     background-image: url("/img/portfolio_bg.jpg");
 }
 .about-progress {
     border: 1px solid #f5f5f5;
     padding: 10px;
     background-color: rgba(0,0,0,.4);
 }
 /* ===== About-Us End ===== */
 /* ===== Services Start ===== */
.services-item {
    border: 1px solid #f5f5f5;
    background-color: rgba(0,0,0,.5);
    padding: 15px;
    box-shadow: 3px 6px 15px 2px rgba(0,0,0,.3);
}
 .services .row + .row {
     margin-top: 15px;
 }
 /* ===== Services End ===== */
 /* ===== Portfolio Start ===== */
 .portfolio {
     background-image: url("/img/portfolio_bg.jpg");
 }
 .portfolio .row + .row {
     margin-top: 15px;
 }
 .portfolio-item {
     border: 1px solid #f5f5f5;
     padding: 5px;
     box-shadow: 3px 6px 15px 2px rgba(255,255,255, 0.3);
     transition: all ease-in-out 250ms;
 }
 .portfolio-item a {
     color: #fff;
 }
 .portfolio-item:hover {
     transform: scale(1.05);
     box-shadow: 4px 7px 15px 3px rgba(255,255,255, 0.3);
 }
 .portfolio-item a:hover {
     color: #fff;
 }
 /* ===== Portfolio End ===== */
 /* ===== Contacts Start ===== */
.contacts-item {
    border: 1px solid #f5f5f5;
    background-color: rgba(0,0,0,.5);
    padding: 15px;
    box-shadow: 3px 6px 15px 2px rgba(0,0,0,.3);
    color: #fff;
}
.contacts-item a {
    color: #fff;
}
 /* ===== Contacts End ===== */
 /* ===== Footer Start ===== */
.footer {
    background-color: black;
    height: 200px;
}
 /* ===== Footer End ===== */
/* ===== Media Start ===== */
@media (max-width: 767px) {
    .menu-nav {
        display: flex;
        flex-direction: column;
    }
    .menu-nav a {
        background-color: #fff;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 50px;
    }
    .menu-nav {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: -25px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}
/* ===== Media End ===== */